@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Epilogue, Inter, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    @apply bg-white;
  }
  :root.dark {
    font-family: Epilogue, Inter, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light dark;
    @apply bg-neutral-900;
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}
